body {    font-size: x-small;
}

.uppernav {
    background-color: #000000;
    margin-top: 10px;
    padding: 10px;
}

    .uppernav a {
        color: white;
        font-family: 'Courier New';
        text-align: right;
        text-decoration: none;
        font-size: 20px;
        padding: 20px 10px;
    }

        .uppernav a:hover {
            background-color: grey;
            padding: 5px;
            text-align: center;
            
        }

div.container {
    width:100%;
    text-align:center;
}

h1 {
    font-family: 'Courier New';
    font-size: 50px;
    text-align: center;
}

p {
    font-family:'Courier New';
    font-size:15px;
    text-align:center;
    color:black;
}

ul {
    height:30%;
    width:30%;
    margin:auto;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 124px;
    width: 486px;
}

.content {
    height:100%;
    width:100%;
    margin-bottom:10px;
    overflow:hidden;
}

.product {
    margin-top:5%;
    margin-left:3%;
}

.product ul {
    width:100%;
    margin: 0px auto;
    list-style-type:none;
    padding-left:9%;
}

.product ul li {
    margin-bottom: 6%;
    margin-right: 70px;
    float: left;
}

.productcaption {
    font-size:small;
    text-align:center;
}

.productprice {
    font-size:small;
    text-align:center;
}

.footer {
    background-color: #000000;
    height: 32px;
    margin-top: 2px;
}

    .footer p {
        font-family: 'Courier New';
        font-size: 20px;
        text-align: center;
        color: white;
    }
    .footer img {
        text-align:left;
        margin-left:10px;
    }

article {
    color:black;
    font-family: 'Times New Roman';
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid black;
    padding-top:20px;
    padding-bottom:20px;
}

h2 {
    font-family:"times new roman";
}

div.container1 p {
    color:black;
    font-family:'Times New Roman';
    font-size:15px;
}

div.container1 h2 {
    text-align:center;
    font-family:'Courier New';
}

div.container1 li {
       text-align:left;
       font-family:'Times New Roman';
       font-size:15px;
}

div.container1 img {
    text-align:center;
    width:100%;
    min-width:100%
}

div.container2 img {
    padding-top:20px;
    width:100%;
    height: 398px;
    margin-right: 15px;
}

div.container2 h2 {
    font-family:'Courier New';
    text-align:center;
}

div.container3 img {
    width:100%;
    height:auto;
}

div.container3 p {
    font-size:18px;
}

div.container4 img {
    width:60%;
    height:auto;
}

div.container5 img {
    width:100%;
    padding-top:20px;
}

#maps {
    height: 400px;
    width:100%;
    background-color:black;
}

h4 {
    font-family:'Courier New';
    font-size:20px;
    text-align:center;
}